
<app-header-stats
  [totalColis]="totalColis"
  [colisLivres]="colisLivres"
  [colisRetards]="colisRetards"
  class="p-4"
></app-header-stats>
<section class="container px-4 mx-auto">
  <div class="flex flex-col">
    <!-- Barre de recherche -->
    <input
      class="mb-4 p-2 border border-gray-500 rounded-lg w-full"
      (keyup)="applyFilter($event)"
      placeholder="Rechercher un colis"
    />

    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead class="bg-gray-50 dark:bg-gray-800">
              <tr>
                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <div class="flex items-center gap-x-3">
                    <button class="flex items-center gap-x-2">
                      <span>iD</span>
                    </button>
                  </div>
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 white:text-gray-400">
                  Date d'enregistrement
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Nom Prénom employé
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Numéro TALON / MCO
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Numéro LTA
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Nom / Nature du produit
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Poids du produit
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Date d'envoi
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Date estimée d'arrivée
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Départ – Arrivée
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Coût du transport
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Nom du propriétaire
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Numéro CNIB / PASSPORT
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Numéro de téléphone 1
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Numéro de téléphone 2
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Email
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Status de livraison
                </th>
                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
              <tr *ngFor="let colis of getPaginatedData()" class="border-b">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ colis.id }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.dateEnregistrement }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ getFullNameEmploye(colis) }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.numeroTalonMco }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.numeroLta }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.nomNatureProduit }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.poidsProduit }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.dateEnvoi }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.dateEstimeeArrivee }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.departArrivee }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.coutTransport }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ getFullNameProprietaire(colis) }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.numeroCnibPassport }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.numeroTelephone1 }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.numeroTelephone2 }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.email }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ colis.statusColis }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <button class="text-indigo-600 hover:text-indigo-900" (click)="editColis(colis)">
                    Modifier
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="flex items-center justify-between mt-6">
  <!-- Bouton Précédent -->
  <button
    class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"
    (click)="prevPage()"
    [disabled]="currentPage === 1"
  >
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"/>
    </svg>
    <span>Précédent</span>
  </button>

  <!-- Indication de la page courante -->
  <div class="text-gray-600">
    Page {{ currentPage }} sur {{ totalPages }}
  </div>

  <!-- Bouton Suivant -->
  <button
    class="flex items-center px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800"
    (click)="nextPage()"
    [disabled]="currentPage === totalPages"
  >
    <span>Suivant</span>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"/>
    </svg>
  </button>
</div>
  </div>

</section>



